@using Faculty.Models;
@model FullListViewModel
@{
    ViewData["Title"] = "Course";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="column col-md-3">
        <h3>Courses</h3>
        @foreach (var course in Model.Courses)
        {
            @course.Name<br>
        }
    </div>
    <div class="column col-md-3">
        <h3>Groups</h3>
        @foreach (var group in Model.Groups)
        {
            @group.Name<br>
        }
    </div>
</div>
