@using Faculty.Repositories
@model IEnumerable<Course>
@{
    ViewData["Title"] = "Course";
}

<h1>@ViewData["Title"]</h1>
@foreach (var course in Model)
{
<p>
        @course.CourseId<br>
        @course.Name<br>
        @course.Description<br>
    </p>
}