@using Faculty.ViewModel
@model StudentsListViewModel
@{
    ViewData["Title"] = "StudentsList";
}

<h1>List of the students</h1>
<table class=" = table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>GroupId</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.GroupId</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
            </tr>
        }
    </tbody>
</table>
